<div class="row">
  <div class="col-sm-6 title">Cheeses by Variety</div>
</div>

<% @cheeses.each do |variety, cheeses| %>
  <div class="row variety-row">
    <div class="col-sm-3 variety">
      <div class="row">
        <div class="col-sm-12 variety-title"><%= variety %></div>
      </div>
      <% cheeses.each do |cheese| %>
        <div class="row">
          <div class="col-sm-3 name-title"></div>
          <div class="col-sm-9 name-title">
            <%= link_to cheese.name, cheese_path(cheese) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

